langchain
langchain-community
langchain-huggingface
langchain-chroma
langchainhub
pypdf
sentence-transformers
chromadb
ollama
pandas
openpyxl
numpy
statsmodels
xgboost
scikit-learn
flaml[automl,ts_forecast]
matplotlib
